<div ng-controller="ContactController" class="contact">
    <section class="intro-block" id="top">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-container">
                    <div class="my-title">
                        <h>CONTACT</h>
                    </div>
                    <div class="my-text">
                        Get in touch with us!
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="block">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-6 content-left">
                    <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
                </div>
                <div class="col-xs-12 col-sm-6 content-right">
                    <div class="col-sm-12">
                        <div class="my-title">
                            <p>
                                CLUB EMAIL
                            </p>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="my-text">
                            <p>
                                <a href="mailto:hurcofficial@gmail.com">hurcofficial@gmail.com</a>
                            </p>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="my-text">
                            <p>
                                We check this email daily.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
