<div ng-controller="SignupController" class="signup">
    <section class="intro-block" id="top">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-container">
                    <div class="my-title">
                        <h>SIGN UP</h>
                    </div>
                    <div class="my-text">
                        Become a part of the team!
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="white-crimson block">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-6 content-left">
                    <div class="my-title">
                        <h>HOW TO JOIN</h>
                    </div>
                    <div class="my-text">
                        <p>HURC has an application process at the beginning of every semester. The one in the fall is more extensive and geared towards newcomers to the world of robotics. In the fall, we run introductory workshops to get new members up to speed on technical skills. The spring process is geared more towards experienced members, as we don't run workshops then. Both processes start off with introductory meetings, which will be announced over our mailing list and Facebook page. We do accept very motivated students into the club outside of the application process as well, so it's never too late or early to apply.</p>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 content-right">
                    <div class="my-title">
                        <h>WORKSHOPS</h>
                    </div>
                    <div class="my-text">
                        <p>In the beginning of the fall semester, we run workshops that are meant to introduce the different engineering disciplines to our new members. We run one programming, one circuit, and one mechanical workshop. Prospective members have to attend at least one of these, but are free to attend all three. To faciliate inter-disciplinary engineering, students are encouraged to attend the workshop in the area in which they are the least experienced. The workshops culminate in a final project workshop, where students work in teams of 3 on a small project that combines CS, EE and ME.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="recruitment block gray-gray">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-6 content-left">
                    <div class="my-title">
                        WHO WE NEED
                    </div>
                    <div class="my-text">
                        We are looking for aspiring roboticists who are passionate and eager to learn. Each week, club members are expected to attend an hour-long team meeting and to spend 3-8 hours working on building, design, or research.
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 content-right">
                    <div class="my-title">
                        BACKGROUND
                    </div>
                    <div class="my-text">
                        Suggested concurrent or previous study in any of the following:
                        <div><span class = "crimson">ME:</span><span> ES51</span></div>
                        <div><span class = "crimson">EE:</span><span> ES50 / ES52</span></div>
                        <div><span class = "crimson">CS:</span><span> CS50 / CS51 / CS61</span></div>
                        <div><span class = "crimson">OR:</span><span> Any other robotics and engineering experience</span></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="my-form block">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-6 content-left">
                    <div class="my-title">
                        <h>APPLICATION</h>
                    </div>
                    <div class="my-text">
                        <p>All prospective members must fill out this application. After you've submitted it, we will get back to you.</p>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 content-right"></div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-6 content-left my-text">
                    <form>
                        <fieldset class="form-group">
                            <label class="form-control-label" for="signUpFormFirstName">First Name</label>
                            <input type="text" class="form-control" ng-model="application.first_name" id="signUpFormFirstName" placeholder="First Name" required>
                        </fieldset>
                        <fieldset class="form-group">
                            <label for="signUpFormLastName">Last Name</label>
                            <input type="text" class="form-control" ng-model="application.last_name" id="signUpFormLastName" placeholder="Last Name" required>
                        </fieldset>
                        <fieldset class="form-group">
                            <label for="signUpFormEmail">Email</label>
                            <input type="email" class="form-control" ng-model="application.email" id="signUpFormEmail" placeholder="Email" required>
                        </fieldset>
                        <fieldset class="form-group">
                            <label for="signUpFormClass">Class of...</label>
                            <select class="form-control" ng-model="application.class" id="signUpFormClass" required>
                                <option>2017</option>
                                <option>2018</option>
                                <option>2019</option>
                                <option>2020</option>
                                <option>2021</option>
                            </select>
                        </fieldset>
                        <fieldset class="form-group">
                            <label for="signUpFormConcentration">Concentration</label>
                            <input type="text" class="form-control" ng-model="application.concentration" id="signUpFormConcentration" placeholder="Concentration" required>
                        </fieldset>
                        <fieldset class="form-group">
                            <label for="signUpFormBackground">Previous robotics experience</label>
                            <textarea class="form-control" ng-model="application.background"id="signUpFormBackground" rows="3" placeholder="Previous robotics experience" required></textarea>
                        </fieldset>
                        <fieldset class="form-group">
                            <label for="signUpFormFirst">1st choice project</label>
                            <select class="form-control" ng-model="application.first_choice" id="signUpFormFirst" required>
                                <option></option>
                                <option>UAS</option>
                                <option>Mech Warfare</option>
                                <option>Micromouse</option>
                            </select>
                        </fieldset>
                        <fieldset class="form-group">
                            <label for="signUpFormSecond">2nd choice project</label>
                            <select class="form-control" ng-model="application.second_choice" id="signUpFormSecond" required>
                                <option></option>
                                <option>UAS</option>
                                <option>Mech Warfare</option>
                                <option>Micromouse</option>
                            </select>
                        </fieldset>
                        <fieldset class="form-group">
                            <label for="signUpFormThird">3rd choice project</label>
                            <select class="form-control"ng-model="application.third_choice" id="signUpFormThird" required>
                                <option></option>
                                <option>UAS</option>
                                <option>Mech Warfare</option>
                                <option>Micromouse</option>
                            </select>
                        </fieldset>
                        <fieldset class="form-group">
                            <label for="signUpFormReason">Why is this your choice?</label>
                            <textarea class="form-control" ng-model="application.reason" id="signUpFormReason" rows="3" placeholder="Why is this your choice?" required></textarea>
                        </fieldset>
                        <div class="row">
                            <div class="col-sm-12 col-md-6">
                                <button type="submit" ng-click="apply(application)" ng-class="{'btn-success': isSuccess}" class="btn btn-primary">{{button_text}}</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-sm-12 col-md-6 content-right">
                    <div class="col-xs-12 picture">
                        <img class="mission-statement-image" src="../img/hackathonator.jpg" alt="HURC team">
                    </div>
                    <div class="col-xs-12 picture">
                        <img class="mission-statement-image" src="../img/coders.jpg" alt="HURC team">
                    </div>
                    <div class="col-xs-12 picture">
                        <img class="mission-statement-image" src="../img/flyingdrone.jpg" alt="HURC team">
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
