<div ng-controller="SignupController" class="signup">
    <section class="intro-block">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-container">
                    <div class="my-title">
                        <h>SIGN UP</h>
                    </div>
                    <div class="my-text">
                        Become a part of the team!
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
