<div ng-controller="MainController" class="sponsors" id="top">
    <section class="intro-block">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-container">
                    <div class="my-title">
                        <h>SPONSORS</h>
                    </div>
                    <div class="my-text">
                        The people that make HURC possible
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="block">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-6 content-left">
                    <div class="my-title">
                        <h>ENCRICHING LIVES</h>
                    </div>
                    <div class="my-text">
                        <p>
                            The Harvard Undergraduate Club gives students the opportunity to explore their passions outside of class. We strive to give our members the hands on experience, creative freedom and project ownership that they would otherwise never get to experience during their college years. As such HURC plays a vital role in our members' development as engineers.
                        </p>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 content-right">
                    <img class="mission-statement-image" src="../img/working.jpg" alt="HURC team">
                </div>
            </div>
        </div>
    </section>
    <section class="block call-to-action">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 my-title">
                    <h>SPONSORING HURC</h>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 my-text">
                    <p>
                        Building robots is fun, but it's definitely not cheap. As our club expands and affects more and more students, so does the cost of operating. By sponsoring us, you will give our members the possibility to pursue their passion in robotics and get real engineering experience.
                    </p>
                </div>
            </div>
        </div>
    </section>
    <section class="block tiers">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 my-title">
                    <h>WANT TO BECOME A SPONSOR?</h>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 my-text">
                    <h2>In sponsoring us not only will you be supporting our engineers but you will also recieve...</h2> </br>
                    <ul>
                        <li>Lots of love </li>
                        <li>Your logo/name featured on website, posters and team shirts</li>
                        <li>Our eternal gratitude</li>
                    </ul> </br>
                     <p> <span class="contact-container">Contact:</span> hurcofficial@gmail.com </p>
                </div>
            </div>
        </div>
    </section>
</div>
