
/* public/css/styles.css */

/* Color variables */
:root {
  --crimson: #A51C30;
  --gray-light: #999999;
  --gray-dark: #444444;
  --gray-darkest: #202020;
  --gray-lightest: #F2F5F7;
}

/* Text types */

.my-intro-title {
    font-size: 62px;
    color: white;
    font-weight: 600;
    padding-bottom: 16px;
    padding-top: 10vh;
}

@media screen and (max-width:1090px) {
    .my-intro-title {
        font-size:50px;
    }
}

@media screen and (max-width:580px) {
    .my-intro-title {
        font-size:30px;
    }
}

@media screen and (max-width:768px) {
    .my-intro-title {
        padding-left: 10px;
    }
    .my-intro-text {
        padding-left: 10px;
    }
}

.my-intro-text {
    font-size: 20px;
    color: white;
    font-weight: 500;
}

.my-title {
    font-size: 70px;
    color: white;
    font-weight: 600;
    padding-bottom: 20px;
}

.my-text {
    font-size: 18px;
    color: white;
    font-weight: 500;
}

.my-text .crimson {
    color: var(--crimson);
}

.scroll-glyph {
    position: absolute;
    bottom: 20px;
    left:50%;
    margin-left: -15px;
}

.scroll-glyph .glyphicon{
    color: white;
    font-size: 30px;
}


/* Navbar */
#my-navbar {
    margin-bottom: 0px;
    background-color: var(--gray-darkest);
    border-width: 0px;
    border-radius: 0px;
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 100;
    border-top: 0;
}

#my-navbar .my-navbar-buttons {
    font-size: 22px;
    color: white;
    font-weight: bold;
}

#my-navbar li:hover {
    background-color: var(--crimson);
}

.my-navbar-container {
    margin-top: 7px;
}

.navbar-brand {
  padding: 0px; /* firefox bug fix */
}

.my-navbar-toggle {
    margin-top: 4px;
}

.navbar-brand img {
    max-width: 69px;
    margin-top: -5px;
    padding-left: 6px;
}

@media screen and (min-width:768px) {
    .my-navbar-container {
        height: 64px;
        margin-top: 0px;
    }
    .navbar-brand img {
      max-width:76px;
      margin-top: -4px;
    }
    #my-navbar .my-navbar-buttons {
        margin-top: 7px;
    }
    #my-navbar li {
        height: 64px;
    }
}

/**********************
*                     *
*    landing blocks   *
*                     *
***********************/


/* Hurc intro */

.hurc-intro {
    background: url(../img/piercehall.jpg) no-repeat fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    /*background-position-y: -250px;*/
}

.hurc-intro-field {
    height: 100vh;
    padding: 24px 0px 20px 0px;
}

.hurc-intro-textbox {
}


/* Mission statement */

.mission-statement {
    background: white;
    margin: 40px 0 40px 0;
}

.mission-statement .my-title {
    color: var(--gray-light);
}

.mission-statement .my-text{
    color: var(--gray-dark);
}

.mission-statement-image-container {
    padding: 40px 4% 40px 0px;
}

.mission-statement-image {
    max-width: 100%;
    max-height: 100%;
    box-shadow: 0px 5px 60px 10px rgba(0, 0, 0, 0.2);
}

.mission-statement-text-container {
    padding: 16px 0 40px 4%;
}

@media screen and (max-width:768px) {
    .mission-statement-text-container {
        padding: 40px 20px;
    }
    .mission-statement-image-container {
        padding: 40px 20px;
    }
}

/* Teams */

.teams {
    background: var(--gray-lightest);

}

.teams-projects {
    padding: 40px 0;
}

.teams-project-container {
    height: 640px;
}

.teams-project-inner-container {
    box-shadow: 0px 5px 60px 10px rgba(0, 0, 0, 0.2);
    height: 560px;
    padding: 0 10px;
}

.teams-project-mm {
    background: url(../img/mm.jpg);
    background-size: cover;
    background-clip: content-box;
    background-position: center center;
    background-repeat: no-repeat;
    padding: 40px 0 40px 0;
}

.teams-project-mw {
    background: url(../img/mw.png);
    background-size: cover;
    background-clip: content-box;
    background-position: center center;
    background-repeat: no-repeat;
    padding: 40px 0 40px 0;
}

.teams-project-uas {
    background: url(../img/uas.jpg) ;
    background-size: cover;
    background-clip: content-box;
    background-position: center center;
    background-repeat: no-repeat;
    padding: 40px 0 40px 0;
}

@media screen and (max-width:768px) {
    .teams-project-mm {
        padding: 40px 20px;
    }
    .teams-project-mw {
        padding: 40px 20px;
    }
    .teams-project-uas {
        padding: 40px 20px;
    }
}

.teams-project-container .my-title{
    color: var(--crimson);
    font-size: 50px;
    text-align: center;
}

.teams-project-container .my-text{
    font-size: 20px;
    color: black;
    padding: 10px;
}

@media screen and (max-width:1200px) {
    .teams-project-container .dont-show{
        font-size: 0;
    }
}

@media screen and (max-width:990px) {
    .teams-project-container .dont-show{
        font-size: 20;
    }
}

.teams-project-button {
    text-align: right;
    padding: 2px 10px 2px 10px;
    position: absolute;
    bottom: 9%;
    font-size: 30px;
    color: white;
    background-color: var(--crimson);
    border-width: 0px;
    border-radius: 5px;
    right:40px;

}

@media screen and (max-width: 1200px) {
    .teams-project-button {
        font-size: 20px;
    }
}

.teams-project-button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    color:white;
}

@media screen and (min-width: 970px) {
    .teams-project-mm .teams-project-button {
        right: 4%;
    }

    .teams-project-mw .teams-project-button {
        right: 7%;
    }

    .teams-project-mm .teams-project-button {
        right: 10%;
    }

    .teams-project-container .my-text{
        font-size: 16px;
    }

    .teams-project-uas {
        padding: 40px 0 40px 2%;
    }

    .teams-project-mm {
        padding: 40px 2% 40px 0;
    }

    .teams-project-mw {
        padding: 40px 1% 40px 1%;
    }
}


/* Recruitment */

.recruitment {

}

.recruitment .my-title{
    color: var(--gray-light);
    font-size: 45px;
}

.recruitment .my-text{
    color: var(--gray-dark);
}

.recruitment-who-container {
    padding: 60px 4% 60px 0;
}

.recruitment-background-container {
    padding: 60px 0 60px 4%;
}

@media screen and (max-width:768px) {
    .recruitment-who-container {
        padding: 40px 20px 20px 20px;
    }
    .recruitment-background-container {
        padding: 20px 20px 40px 20px;
    }
}
