<div class="supporters" id="top">
    <section class="intro-block">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-container">
                    <div class="my-title">
                        <h>SUPPORTERS</h>
                    </div>
                    <div class="my-text">
                        The people that make HURC possible
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="block">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-6 content-left">
                    <div class="my-title">
                        <h>ENRICHING LIVES</h>
                    </div>
                    <div class="my-text">
                        <p>
                            The Harvard Undergraduate Robotics Club gives students the opportunity to explore their passions outside of class. We strive to give our members the hands-on experience, creative freedom, and project ownership that they would otherwise never experience during their college years. As such, HURC plays a vital role in our members' development as engineers.
                        </p>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 content-right">
                    <img class="mission-statement-image" src="../img/working.jpg" alt="HURC team">
                </div>
            </div>
        </div>
    </section>
    <section class="block call-to-action">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 my-title content-full">
                    <h>SUPPORTING HURC</h>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 my-text content-full">
                    <p>
                        Building robots is fun, but it's definitely not cheap. As our club expands and affects more and more students, so does the cost of operating. By supporting us, you will give our members the possibility to pursue their passion in robotics and get real engineering experience.
                    </p>
                </div>
            </div>
        </div>
    </section>
    <section class="block tiers">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 my-title content-full">
                    <h>TIERS</h>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 my-text content-full">
                    <h2>As a sponsor, you will not only be supporting our engineers, but we can also offer the following based on the size of your gift...</h2> </br>
                    <div class="row tier-row">
                        <div class="col-xs-12 col-sm-3 tier-logo">
                            <h2>Bronze</h2>
                            <img src="../img/sponsorship_bronze.png">
                        </div>
                        <div class="col-xs-12 col-sm-9 tier-info">
                            <p>If your contribution is at least <span>$500</span> you will receive the following:</p>
                            <ul>
                                <li>Small logo and name on our website's supporters page and facebook page</li>
                                <li>Small logo or name on our club's t-shirts</li>
                                <li>A shoutout over our mailing list</li>
                            </ul>
                            </br>
                        </div>
                    </div>
                    <div class="row tier-row">
                        <div class="col-xs-12 col-sm-3 tier-logo">
                            <h2>Silver</h2>
                            <img src="../img/sponsorship_silver.png">
                        </div>
                        <div class="col-xs-12 col-sm-9 tier-info">
                            <p>If your contribution is at least <span>$2,000</span> you will receive the following:</p>
                            <ul>
                                <li>Medium logo and name with a short description on our website's supporters page and facebook page</li>
                                <li>Medium logo or name on our club's t-shirts</li>
                                <li>Small logo and name on club's banner that will be brought to all robotics competitions and club fairs we attend</li>
                                <li>Small logo or name on club posters on campus</li>
                                <li>A shoutout over our mailing list</li>
                            </ul>
                            </br>
                        </div>
                    </div>
                    <div class="row tier-row">
                        <div class="col-xs-12 col-sm-3 tier-logo">
                            <h2>Gold</h2>
                            <img src="../img/sponsorship_gold.png">
                        </div>
                        <div class="col-xs-12 col-sm-9 tier-info">
                            <p>If your contribution is at least <span>$5,000</span> you will receive the following:</p>
                            <ul>
                                <li>Large logo and name with a detailed description on our website's supporters page and facebook page</li>
                                <li>Large logo or name on our club's t-shirts</li>
                                <li>Medium logo and name on club's banner that will be brought to all robotics competitions and club fairs we attend</li>
                                <li>Medium logo or name on club posters on campus</li>
                                <li>Logo or name on <strong>one of our robots</strong></li>
                                <li>A shoutout over our mailing list and mentions in public correspondence</li>
                                <li>Chance to hold a tech talk at Harvard that is promoted by the club and open to all</li>
                            </ul>
                            </br>
                        </div>
                    </div>
                    <div class="row tier-row">
                        <div class="col-xs-12 col-sm-3 tier-logo">
                            <h2>Platinum</h2>
                            <img src="../img/sponsorship_platinum.png">
                        </div>
                        <div class="col-xs-12 col-sm-9 tier-info">
                            <p>If your contribution is at least <span>$10,000</span> you will receive the following:</p>
                            <ul>
                                <li>Large logo and name with a detailed description on our website's supporters page and facebook page</li>
                                <li>Large logo or name on our club's t-shirts</li>
                                <li>Large logo and name on club's banner that will be brought to all robotics competitions and club fairs we attend</li>
                                <li>Large logo or name on club posters on campus</li>
                                <li>Logo or name on <strong>ALL of our robots</strong></li>
                                <li>A shoutout over our mailing list and mentions in public correspondence</li>
                                <li>Chance to hold a tech talk at Harvard that is promoted by the club and open to all</li>
                            </ul>
                            </br>
                        </div>
                    </div>
                    <p class="extra-info">Other arrangements can be made on a case-by-case basis. We are also open to support in the form of materials or services that assist us in building our robots.</p>
                    <p>
                        <span class="contact-container">Contact: </span><a href="mailto:hurcofficial@gmail.com">hurcofficial@gmail.com</a>
                    </p>
                </div>
            </div>
        </div>
    </section>
</div>
