<div class="micromouse">
    <section class="intro-block" id="top">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-xs-12 poster">
                    <div class="textbox">
                        <div class="buffer">
                            <div class="my-title">
                                <h>MICROMOUSE</h>
                            </div>
                            <div class="my-text">
                                Autonomous maze-solver
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="block white-crimson">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 content-full">
                    <div class="my-title">
                        <h>COMPETITION</h>
                    </div>
                    <div class="my-text">
                        <p>
                            The objective of the competition is to build and design a small robot to navigate a 16x16 maze, traveling from a random corner of the maze to the center in the shortest time. The competition is open to any undergraduate group, and 2016 was the fifth year that the competition head been held at Brown University.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="block champions gray-gray">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-6 content-left">
                    <img class="mission-statement-image" src="../img/mm/mm-team.jpg">
                </div>
                <div class="col-sm-12 col-md-6 content-right">
                    <div class="my-title">
                        <h>CHAMPIONS</h>
                    </div>
                    <div class="my-text">
                        We are proud to announce that our team claimed <span class="crimson">First Place in the 2016 Brown IEEE Micromouse Competition.</span> Our robot managed to solve the maze in less than half the time it took the second place robot to do so!
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container-fluid video-container">
            <div class="row video-responsive">
                <iframe src="https://player.vimeo.com/video/162722706?color=A51C30" width="1920" height="1080" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
            </div>
        </div>
    </section>
    <section class="block white-crimson">
        <div class="container">
            <div class="row">
                <div class="col-xs-6 col-sm-4 picture-div picture-row">
                    <img class="mission-statement-image" src="../img/mm/mm-nathan.jpg">
                </div>
                <div class="col-xs-6 col-sm-4 picture-div picture-row">
                    <img class="mission-statement-image" src="../img/mm/mm-board.jpg">
                </div>
                <div class="col-xs-6 col-sm-4 picture-div picture-row">
                    <img class="mission-statement-image" src="../img/mm/mm-people.jpg">
                </div>

                <div class="col-xs-6 col-sm-6 picture-div">
                    <img class="mission-statement-image" src="../img/mm/mm-bots.jpg">
                </div>
                <div class="col-xs-12 col-sm-6 picture-div">
                    <img class="mission-statement-image" src="../img/mm/mm-team2.jpg">
                </div>
            </div>
        </div>
    </section>
    <section class="block gray-crimson">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-6 content-left">
                    <div class="my-title">
                        <h>SPECS</h>
                    </div>
                    <div class="my-text">
                        <ul>
                            <li>3 IR distance sensors and 2 Hall Effect motor encoders to determine the robots position and orientation as well as for detecting walls.</li>
                            <li>Powered by 2 DC motors, controlled throuh a H-bridge motor controller via a pulse-width modulated signal</li>
                            <li>Controlled by an Arduino Micro</li>
                            <li>Integrates the information from all onboard sensors into a flood-fill maze navigation algorithm.</li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 content-right">
                    <img class="mission-statement-image" src="../img/mm/mm-mouse.jpg">
                </div>
            </div>
        </div>
    </section>
    <section class="block white-crimson">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 content-full">
                    <div class="my-title">
                        <h>FUTURE</h>
                    </div>
                    <div class="my-text">
                        <p>
                            In the future, we plan to shrink the footprint of our robot and further increase its speed. We will implement our entire circuit on a PCB while integrating additional sensor feedback and better maze navigation and motor control algorithms.
                        </p>
                        <p>
                            For students looking to join our team, this project will be focused on implementing control algorithms and miniaturizing robot hardware and circuitry. We welcome all students interested in CS, ME, and EE.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
