<div ng-controller="MainController" class="mechwarfare">
    <section class="intro-block" id="top">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-container">
                    <div class="my-title">
                        <h>MECH WARFARE</h>
                    </div>
                    <div class="my-text">
                        Quadruped death-machine
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container-fluid">
            <div class="row video-responsive">
                <iframe src="https://player.vimeo.com/video/162234820?color=A51C30" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
            </div>
        </div>
    </section>
    <section class="block white-crimson">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 content-full">
                    <div class="my-title">
                        <h>COMPETITION</h>
                    </div>
                    <div class="my-text">
                        <p>
                            The goal of Mech Warfare is to build an airsoft enabled quadruped robot that is ready for one-on-one robot combat, piloted through a wireless first-person POV system. Competitors battle out their robots in an Airsoft war that mirrors the scenarios found in sci-fi universes such as Battletech, Warhammer 40k and Armored Core.
                        </p>
                        <p>
                            The Mech Warfare competition takes place in a miniaturized city contained inside a cage (to protect the audience!). Mech robots, representing schools across the country, navigate the blocks and cities of the cage with mounted airsoft guns and attempt to downpour a rain of lethal BBs onto their opponents. The robot that hits its opponents the most and gets hit the least wins.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="block champions gray-gray">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-6 content-left">
                    <img class="mission-statement-image" src="../img/mw/mw-team2.jpg" alt="HURC team">
                </div>
                <div class="col-sm-12 col-md-6 content-right">
                    <div class="my-title">
                        <h>CHAMPIONS</h>
                    </div>
                    <div class="my-text">
                        In 2016, the Mech Warfare team travelled down to West Virginia’s Sheperd University to compete in ShepRobo Fest, an annual robotics competition hosted by Sheperd that features several competitive events. Six robots entered the Mech Warfare competition. Only one emerged victorious. After multiple rounds of intense robot skirmishes involving heavy BB combat and even one competitor’s leg-motor catching on fire, we are proud to announce that Harvard’s Undergraduate Robotics Club claimed <span class="crimson">First Place in ShepRobo Fest's 2016 Mech Warfare Competition! </span>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="block white-crimson">
        <div class="container">
            <div class="row">
                <div class="col-xs-6 col-sm-4 picture-div picture-row">
                    <img class="mission-statement-image" src="../img/mw/mw-sketch.jpg" alt="HURC team">
                </div>
                <div class="col-xs-6 col-sm-4 picture-div picture-row">
                    <img class="mission-statement-image" src="../img/mw/mw-cad.jpg" alt="HURC team">
                </div>
                <div class="col-xs-6 col-sm-4 picture-div picture-row">
                    <img class="mission-statement-image" src="../img/mw/mw-robot1.jpg" alt="HURC team">
                </div>

                <div class="col-xs-6 col-sm-6 picture-div">
                    <img class="mission-statement-image" src="../img/mw/mw-robot2.jpg" alt="HURC team">
                </div>
                <div class="col-xs-12 col-sm-6 picture-div">
                    <img class="mission-statement-image" src="../img/mw/mw-robot3.jpg" alt="HURC team">
                </div>
            </div>
        </div>
    </section>
    <section class="block gray-crimson">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 content-full">
                    <div class="my-title">
                        <h>DESIGN</h>
                    </div>
                    <div class="my-text">
                        <p>
                            Our robot has been in research and development phase for 2 years, improving with each new iteration of design, circuitry, and code. Continuous advancements have taken our Mech bot from a chunk of acrylic and wires to a reliable, agile, menacing airsoft-mounted quadruped that poses a serious threat on the Mech Warfare battlefield.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="block white-crimson">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-6 content-left">
                    <div class="my-title">
                        <h>SPECS</h>
                    </div>
                    <div class="my-text">
                        <ul>
                            <li>Home-built lasercut acrylic and 3D printed PLA body.</li>
                            <li>14 High-torque servos connected to an 18 channel servo controller to control the turret and legs.</li>
                            <li>Hip, knee and ankle rotation on each leg.</li>
                            <li>Controlled remotely with a Wii Nunchuck via XBee communications.</li>
                            <li>Arduinos constitute the computer processing on both the transmitting end (Wii Nunchucks) and the receiving end (the robot itself).</li>
                            <li>Independent on-board WIFI camera for transmitting a video feed of the battlefield.</li>
                            <li>Armed with an airsoft gun assembly, which is fed BBs from an electric airsoft hopper.</li>
                            <li>The gun and hopper are triggerd using a relay</li>
                            <li>The entire robot is powered by a 7.4V 4000mAh LiPo battery through a buck converter.</li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 content-right">
                    <img class="mission-statement-image" src="../img/mw/mw-diagram.png" alt="HURC team">
                </div>
            </div>
        </div>
    </section>
    <section class="block gray-gray">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 content-full">
                    <div class="my-title">
                        <h>FUTURE</h>
                    </div>
                    <div class="my-text">
                        <p>
                            It was a fantastic experience and an impressive win. But most of all, we learned a lot about how to improve our robot going forward. With robots that need to persevere and, more importantly, prevail in tough conditions, there are always more sturdy mechanical designs, more reliable circuits, and more efficient programs to pursue. Here on HURC’s Mech Warfare team, we hope to create a fully revamped robot, building on past engineering mistakes and successes, with lighter components, smoother leg algorithms, and more advanced airsoft gun assembly. We also seek new features such as image processing that allows for automatic lock-on to other robots, as well as code that uses reverse kinematic equations for more versatile movements. Better yet, the MechWarfare rules do not technically disallow flamethrower implementation! Thanks to the tremendous facilites in Pierce Lab, the possibilities for new functionality are just a 3D print away.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div ng-include="'/views/landing/landingblocks/featuredIn.html'"></div>
</div>
