<div ng-controller="MainController" class="uas">
    <section class="intro-block" id="top">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-container">
                    <div class="my-title">
                        <h>UAS</h>
                    </div>
                    <div class="my-text">
                        Unmanned Air Systems
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="block white-crimson">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 content-full">
                    <div class="my-title">
                        <h>COMPETITION</h>
                    </div>
                    <div class="my-text">
                        <p>
                            The goal of UAS is to build an autonomous aerial system that can compete in the AUVSI UAS competition. Quadcopters have become a very exciting field to work with because it combines all the disciplines of engineering (mechanical, electrical, and computer engineering) to solve problems without clear solutions. Our design looks to bring together all of these components to create a system that can effectively survey a piece of land and utilize computer vision to perform simple analytics on a video feed.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="block gray-crimson">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 content-full">
                    <div class="my-title">
                        <h>DESIGN</h>
                    </div>
                    <div class="my-text">
                        <p>
                            Our robot has been in research and development phase for 2 years, improving with each new iteration of design, circuitry, and code. Continuous advancements have taken our Mech bot from a chunk of acrylic and wires to a reliable, agile, menacing airsoft-mounted quadruped that poses a serious threat on the Mech Warfare battlefield.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="block white-crimson">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-4 picture-div">
                    <img class="mission-statement-image" src="../img/uas/uas-fly1.jpg">
                </div>
                <div class="col-xs-12 col-sm-4 picture-div">
                    <img class="mission-statement-image" src="../img/uas/uas-fly3.jpg">
                </div>
                <div class="col-xs-12 col-sm-4 picture-div">
                    <img class="mission-statement-image" src="../img/uas/uas-fly4.jpg">
                </div>
            </div>
        </div>
    </section>
    <section class="block gray-gray">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-6 content-left">
                    <div class="my-title">
                        <h>TASKS</h>
                    </div>
                    <div class="my-text">
                        The AUVSI UAS competition requires us to have a fully autonomous unmanned system that can perform two main tasks and several optional sub tasks. These tasks are meant to challenge the power, navigation, control, and other components of a flight system. The main tasks are:
                        <ul>
                            <li>Follow a given trajectory to waypoints. Along the way there will be several targets. Characteristics of these targets in addition to their locations must be identitied.</li>
                            <li>An unknown plot of land must be surveyed for a number of targets spread out over the area.</li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 content-right">
                    <img class="mission-statement-image" src="../img/uas/uas-drone.jpg">
                </div>
            </div>
        </div>
    </section>
</div>
