<footer id="footer">
	<div class="scroll-to-top">
		<a href="" onclick="scrollToTop();">Top</a>
	</div>
	<div class="footer-container">
		<!--<nav class="footer-nav"> -->
			<ul class="footer-link-collection">
	            <li><a class="footer-link" href="/contact">Contact Us</a></li>
	            <li><a class="footer-link" href="/media">Social Media</a></li>
	        </ul>
	        <hr id="footer-bar">
	        <div id="legal-info">
	        	<p class="text">&copy 2016 Harvard Undergraduate Robotics Club. All Rights Reserved.</p>
	        </div>
	    <!--</nav>-->
	</div>
</footer>