<footer class="footer">
	<div class="scroll-to-top">
		<a href="" onclick="scrollToTop();">Top</a>
	</div>
	<div class="footer-container">
		<ul class="footer-link-collection">
			<div class="row">
				<div class="col-sm-12 col-md-3">
		            <li><a class="footer-link" href="/contact" onclick="scrollToTop()">Contact Us</a></li>
		        </div>
		        <div class="col-sm-12 col-md-3">
		            <li><a class="footer-link" href="/sponsors" onclick="scrollToTop()">Sponsors</a></li>
	            </div>
	            <div class="col-sm-12 col-md-3">
		            <li><a class="footer-link" href="/signup" onclick="scrollToTop()">Sign up</a></li>
	            </div>
				<div class="col-sm-12 col-md-3">
					<li><a class="footer-link footer-glyph" href="https://www.facebook.com/harvardrobotics/"><i class="fa fa-facebook" aria-hidden="true"></i></a>
		            <a class="footer-link footer-glyph" href="https://vimeo.com/user50872437"><i class="fa fa-vimeo" aria-hidden="true"></i></a>
					<a class="footer-link footer-glyph" href="https://www.instagram.com/hurcofficial"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
	            </div>
			</div>
        </ul>
        <hr class="footer-bar">
        <div class="legal-info">
        	<p class="my-text">&copy 2016 Harvard Undergraduate Robotics Club. All Rights Reserved.</p>
        </div>
	</div>
</footer>
