<section class="community landing-block">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-6 content-left">
                <div class="my-title">
                    <h>COMMUNITY</h>
                </div>
                <div class="my-text">
                     We host many exciting events every semester, from hackathons to parties and other social gatherings. HURC is a great place to meet fellow engineers and tinkerers as you work with each other on robots while having plenty of time to form new and lasting friendships and socialize at our regular events.
                </div>
            </div>
            <div class="col-sm-12 col-md-6 content-right">
                <img class="mission-statement-image" src="../img/community.jpg" alt="HURC team">
            </div>
        </div>
    </div>
</section>
