<section class="community landing-block">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-6 content-left">
                <div class="my-title">
                    <h>COMMUNITY</h>
                </div>
                <div class="my-text">
                    HURC is a great place to meet fellow engineers and tinkerers who love to build robots! There is plenty of time to form new and lasting friendships and socialize at our many exciting events every semester, from hackathons, to parties and other social gatherings. In the spirit of collaboration, HURC offers many joint events and projects with several other clubs on campus, including Robocup and SEDS.
                </div>
            </div>
            <div class="col-sm-12 col-md-6 content-right">
                <img class="mission-statement-image" src="../img/community.jpg" alt="HURC team">
            </div>
        </div>
    </div>
</section>
