<section class="featured-in landing-block">
    <div class="container">
        <div class="row">
            <div class="my-title text-center col-xs-12">
                FEATURED IN
            </div>
        </div>
        <div class="row featured-outlets text-center">
            <div class="col-sm-12 col-md-4 featured-col"><a href="https://www.seas.harvard.edu/news/2016/04/battling-bot-topples-opponents"><img class="image" src="../img/seas.png" alt="SEAS"></div></a>
            <div class="col-sm-12 col-md-4 featured-col"><a href="http://www.mirror.co.uk/news/weird-news/this-trigger-happy-robot-designed-7802318"><img class="image" src="../img/mirror.jpg" alt="MIRROR"></div></a>
            <div class="col-sm-12 col-md-4 featured-col"><a href="http://www.geek.com/news/harvards-bb-shooting-robot-wins-mech-warfare-competition-1652859/"><img class="image" src="../img/geek.png" alt="Geek"></div></a>
        </div>
    </div>
</section>
