<section class="featured-in landing-block">
    <div class="container">
        <div class="row">
            <div class="my-title text-center col-xs-12">
                Featured In
            </div>
        </div>
        <div class="row featured-outlets text-center">
            <div class="col-sm-12 col-md-4"><h>Image of the Mirror with link</h></div>
            <div class="col-sm-12 col-md-4"><h>Image of SEAS with link</h></div>
            <div class="col-sm-12 col-md-4"><h>Image of Geek with link</h></div>
        </div>
    </div>
</section>
