<section class="hurc-intro">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-6 hurc-intro-field">
                <div class="hurc-intro-textbox">
                    <div class="my-title">
                        HARVARD UNDERGRADUATE ROBOTICS CLUB
                    </div>
                    <div class="my-text">
                        Tackle tough engineering projects and build competitive robots!
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6"></div>
            <div>
                <p class="scroll-glyph"><span class="glyphicon glyphicon-chevron-down"></span></p>
        </div>
    </div>
</section>
