<section class="hurc-intro">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-6 hurc-intro-field">
                <div class="hurc-intro-textbox">
                    <div class="my-intro-title">
                        Harvard Undergraduate Robotics Club
                    </div>
                    <div class="my-intro-text">
                        Tackle though engineering projects and build competitive robots!
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6"></div>
        </div>
    </div>
</section>
