<section class="mission-statement">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-6 mission-statement-image-container">
                <img class="mission-statement-image" src="../img/smallteam.jpg" alt="HURC team">
            </div>
            <div class="col-sm-12 col-md-6 mission-statement-text-container">
                <div class="my-title">
                    <h>Mission</h>
                </div>
                <div class="my-text">
                    The Harvard Undergraduate Robotics Club (HURC) seeks to provide Harvard undergraduates with an opportunity to participate in exciting and educational STEM-related projects, to engage students in machine-building processes, and to compete in a variety of robotics competitions.
                </div>
            </div>
        </div>
    </div>
</section>
