<section class="recruitment">
    <div class="container">
        <div class="row">
            <div class="col-xs-6 col-sm-6 recruitment-who-container">
                <div class="my-title">
                    Who we need
                </div>
                <div class="my-text">
                    We are looking for undergraduate students with a passion for creative design, technical skill in coding, circuitry, or mechanical design, and people seeking to branch out and learn new engineering skills while they apply what they’ve learned in Harvard SEAS classes.
                </div>
            </div>
            <div class="col-xs-6 col-sm-6 recruitment-background-container">
                <div class="my-title">
                    Suggested background
                </div>
                <div class="my-text">
                    <div><span class = "crimson">ME:</span><span> ES51</span></div>
                    <div><span class = "crimson">EE:</span><span> ES50 or ES52</span></div>
                    <div><span class = "crimson">CS:</span><span> CS50 or CS51</span></div>
                    <div><span class = "crimson">OR:</span><span> Any other robotics/engineering experience</span></div>
                </div>
            </div>
        </div>
    </div>
</section>
