<section class="recruitment block white-gray">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-6 content-left">
                <div class="my-title">
                    WHO WE NEED
                </div>
                <div class="my-text">
                    We are looking for undergraduate students with a passion for creative design, technical skill in coding, circuitry, or mechanical design, and people seeking to branch out and learn new engineering skills while they apply what they’ve learned in Harvard SEAS classes.
                </div>
            </div>
            <div class="col-sm-12 col-md-6 content-right">
                <div class="my-title">
                    BACKGROUND
                </div>
                <div class="my-text">
                    Suggested concurrent or previous study in any of the following:
                    <div><span class = "crimson">ME:</span><span> ES51</span></div>
                    <div><span class = "crimson">EE:</span><span> ES50 / ES52</span></div>
                    <div><span class = "crimson">CS:</span><span> CS50 / CS51 / CS61</span></div>
                    <div><span class = "crimson">OR:</span><span> Any other robotics and engineering experience</span></div>
                </div>
            </div>
        </div>
    </div>
</section>
