<section class="teams">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-4 teams-project-container teams-project-mm">
                <div class="teams-project-inner-container">
                    <div class="my-title">
                        Micromouse
                    </div>
                    <div class="my-text">
                        Our mouse-sized Micromouse robot scurries around a maze looking for the fastest path to the center.<span class=dont-show> It uses a combination of motor control/feedback algorithms and distance sensors.</span>
                    </div>
                    <a class="btn teams-project-button" href="/projects/mm">
                        More on Micromouse
                    </a>
                </div>
            </div>
            <div class="col-sm-12 col-md-4 teams-project-container teams-project-mw">
                <div class="teams-project-inner-container">
                    <div class="my-title">
                        Mech Warfare
                    </div>
                    <div class="my-text">
                        A quadruped robot with an airsoft gun mount for combat operations.<span class=dont-show> Our current robot recieved first place in this year's ShepRobo Fest at Sheperd University. With 14 servo motors, efficient walking algorithms, and a monster airsoft gun, "The Trumpinator" is the robotic candidate only few would dare challenge.</span>
                    </div>
                    <a class="btn teams-project-button" href="/projects/mw">
                        More on Mech Warfare
                    </a>
                </div>
            </div>
            <div class="col-sm-12 col-md-4 teams-project-container teams-project-uas">
                <div class="teams-project-inner-container">
                    <div class="my-title">
                        UAS Drone
                    </div>
                    <div class="my-text">
                         A quadcopter that will fly autonomously, avoid obstacles, and complete aerial missions.<span class=dont-show> For the UAS competition, set for next year, we must build a drone capable of swift aerial maneuvers in addition to image analysis software that can detect, analyze, and identify objects on the ground. Prepare for an intense robot dogfight.</span>
                    </div>
                    <a class="btn teams-project-button" href="/projects/uas">
                        More on UAS
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
